* {
  box-sizing: border-box;
}

$bg: #efcee4;
$pink: #dd68b0;
$pink-lighter: rgba(221, 104, 176, 0.48);

.tooltip {
  background: #fff;
  border: 0;
  max-width: 190px;
  font-size: 0.8em;
  padding: 0.25em;
  z-index: 999;
  pointer-events: none;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  white-space: pre-line;
}

body .ui-tooltip {
  border-width: 2px;
}


body {
  background: $bg;
  color: $pink;
}

#info {
  padding: 1em;
  margin: 1em;
  border: 1px solid $pink;
  text-align: center;
}


#tools {

  hr {
    background: $pink;
    border: 0;
    height: 1px;
    margin: .25em 0;
  }

  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  button {
    background: none;
    border: 1px solid $pink;
    color: $pink;
    cursor: pointer;
  }



  // ITEMS
  #store {

    .store-item {
      text-align: center;

      p {
        text-align: left;
      }
    }


  }

}

#g {
  display: flex;
  flex-wrap: nowrap;
  height: 80vh;
  margin: 0 1em;
}

#tools {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  min-width: 150px;
  flex-grow: 1;
}

#tools > #you,
#tools > .space {
  padding: .5em;
  border: 1px solid $pink;
  width: 100%;
}

#ocean {
  position: relative;
  border: 1px solid $pink;
  margin-left: 1em;
  height: 100%;
  flex-grow: 3;
  overflow: auto;
  counter-reset: x 0 y -1;
  scroll-behavior: smooth;
  // counters


  // PLACE
  #h {
    margin: 10vh 10vw;
    width: 1350px;
    min-height: 1000px;
    scroll-behavior: smooth;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .g {
      counter-increment: x;
    }

    .g:nth-child(10n +1) {
      counter-increment: y;
    }
  }

  .g {
    position: relative;
    border: 1px solid $pink;
    display: inline-block;
    text-align: center;
    // SIZE
    width: 125px;
    height: 125px;
    margin-left: -1px;
    margin-top: -1px;
    font-size: 3.5rem;
    line-height: 30px;
  }

  .g {
    color: $pink-lighter;
  }


  .g:not(:empty) {
    cursor: pointer;
  }

  g:before {
    position: absolute;
  }

  .g:after {
    font-size: .7rem;
    color: $pink;
    position: absolute;
    content: counter(x) ", "counter(y);
  }

  .g:hover {
    cursor: pointer;
  }

  .g:empty {
    border: 0;
  }


  .g:nth-child(10n +1) {
    counter-set: x 0;
  }


  .g img {
    max-width: calc(100% + 2em);
    max-height: calc(100% + 2em);
    margin-top: -1em;
    margin-left: -1em;
  }

}





// field 

$soil: rgba(221, 104, 176, 0.1);
$unbought: rgba(80, 80, 80, 0.3);

.g[type='soil'] {
  background: $soil;
}

.g[type='unbought'] {
  background: $unbought;
}


.g[highlight] {
  //  background: $pink-lighter;
}

.g[highlight]:before {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(221, 104, 176, 0.2);
  content: "";
}
