* {
  box-sizing: border-box;
}

#ocean {

  border: 1px solid #000;
  margin: 1em;
  padding: 2em 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .g {
    border: 1px solid #000;
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-left: -1px;
    margin-top: -1px;
  }

  .g {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .g:empty {
    border: 0;
  }

  .g:first-of-type {
    margin-left: 0;
  }


  .g img {
    max-width: calc(100% + 2em);
    max-height: calc(100% + 2em);
    margin-top: -1em;
    margin-left: -1em;
  }

}
